appdirs
asgiref
astroid
beautifulsoup4
black
certifi
chardet
click
Django
django-prometheus
idna
isort
lazy-object-proxy
mccabe
mypy-extensions
pathspec
pylint
pytz
regex
requests
selenium
six
soupsieve
sqlparse
toml
typed-ast
typing-extensions
urllib3
