<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Hello Licenses!</title>
    </head>

    <body>

<!--
    owner = models.ForeignKey(User, on_delete=models.CASCADE)
    licenseid = models.CharField(max_length=32)
    mac_address = models.CharField(max_length=18)
    created_at = models.DateTimeField('creation date', auto_now_add=True)
    expire_at = models.DateTimeField('expiration date')
-->

			<table border=1>
				<tr>
					<td><b>userlist</b></td>
				</tr>
					{% for u in users %}
				<tr>
					<td>{{ u }}</td>
				</tr>
    {% endfor %}
			</table>


        <h2>Login</h2>
		<a href="login">Login</a>

        <h2>Logout</h2>
		<a href="/logout/">Logout</a>

        <h2>Create Users</h2>
		<a href="/createusers">CreateUsers</a>

        <h2>Add more licenses to user</h2>

    <form action="/add_user_licenses" method="POST">
        {% csrf_token %}
        <input type="number" name="more_licenses" min="1" max="9" required/>
		<label for="chosen_user" name="chosen_user" required/>
			<select id="chosen_user" name="chosen_user">
				{% for u in users %}
				<option value="{{ u }}">{{ u }}</option>
				{% endfor %}
			</select>
        <input type="submit"/>
    </form>

    </body>
</html>
